@import url("https://fonts.googleapis.com/css?family=PT+Sans|KoHo:300!Roboto:500");
body {
    font-family: "PT Sans", sans-serif;
    background-color: #07131B;
    color: #07131B;
}

.koho {
    font-family: 'KoHo', sans-serif;
}

.font-roboto {
    font-family: Roboto, sans-serif !important
}

.of-contain {
    object-fit: contain !important;
}

.of-cover {
    object-fit: cover !important;
}

.mgr {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 15%;
    background-image: linear-gradient(to right, #07131B, rgba(7, 19, 27, 0.9), rgba(7, 19, 27, 0.6), rgba(7, 19, 27, 0.3), rgba(7, 19, 27, 0.1), rgba(7, 19, 27, 0));
}

.no-outline:active,
.no-outline:focus {
    outline: none;
}

.btn-green {
    background-color: #00C853
}